#intro {
    background: url('../img/cover_sampsa.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
}
.intro-text {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5rem;

    h1 {
        font-size: 3rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
    }
    
    p {
        font-size: 1.25rem;
        line-height: 30px;
        font-family: 'Lato', sans-serif;
    }

    @media screen and (min-width: 576px) {
      width: 57%;

      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.5rem;
      }
  }
  
  @media screen and (min-width: 992px) {
     h1 {
       font-size: 5rem;
     }
  }
}

.c-primary {
    color: #ff5252;
}

@-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }